@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.close{
    display: none;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;

}

.right {
    width: 75vw;
}

.home {}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0px;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0px;
    max-height: 100vh;
    overflow: scroll;
     position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34)
}

.header>* {
    padding: 20px;
}

.spotifyplaylist {
    padding: 16px;
}

.spotifyplaylist h1 {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 60vh;
}

.card {
    width: 200px;
    padding: 20px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.9s;
}

.card:hover{
    background-color: rgb(105 , 103, 103);
    cursor: pointer;
    --a: 1;
    
}

.card>* {
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
}

.play {
    background-color: #3be477;
    border-radius: 50%;
    padding: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: 140px;
    margin-left: 130px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.signupbtn{
    background-color: rgb(34, 34, 34);
    color: rgb(156 , 148, 148);
    font-weight: bold;
     border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    
}

.button >*{
    margin: 0 12px;
}

.signupbtn:hover{
    font-size: 1.01rem;
    color: white;
}

.loginbtn{
    background-color: white;
    border-radius: 21px;
    font-size: 16px;
    color: black;
    padding: 10px;
    width: 79px;

}

.loginbtn:hover{
   
    font-weight: bold;
   font-size: 17px;
}

/* .spotifyplaylist{
    position: relative;
} */

.playbar{
    position: absolute;
    bottom: 30px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 30px;
    width: 71vw;
    padding: 12px;
    position: fixed;
    min-height: 40px;
    
}

.songbuttons{
    display: flex;
    justify-content: center;
    gap: 12px;
}

.songlist ul{
    padding: 0 12px;
}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
   gap: 12px;
   cursor: pointer;
   padding: 12px 0;
   border: 1px solid white;
   margin: 12px 0px;
   padding: 13px;
   border-radius: 5px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.hamburger{
    display: none;
    height: 40px;
    width: 40px;
    cursor: pointer;
   }

   .hamburgercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
   }

.playnow span{
  font-size: 15px;
    width: 64px;
    padding: 12px;
}

.songlist .info{
   font-size: 13px;
   width: 344px;
}

.info div{
    word-break: break-all;
}

.songlist{
    height: 544px;
    overflow: auto;
    margin-bottom: 44px 0;
}

.seekbar{
    height: 4px;
    width: 70vw;
   background:  black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;

}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    bottom: 6px;
    position: relative;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img{
    cursor: pointer;
}

.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime{
    color: black;
    padding: 0 12px;
    width: 125px;
}

.volume{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
}

@media (max-width : 1200px) {
    .left{
        position: absolute;
        padding: 0;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 373px;
        background-color: black;
    }

    .left .close{
      position: absolute;
      right: 31px;
      top: 25px;
      width: 29px;
    }

   .right{
    width: 100vw;
   }
   .playbar{
    width: 95vw;
    width: calc(100vw - 105px);
   }

   .seekbar{
    width: calc(100vw - 120px);
   }

   .hamburger{
    display: block;
   }

   .right{
    margin: 0;
   }

   .card{
    width: 55vw;
   }

   .cardContainer{
    margin: 0;
    justify-content: center;
    max-height: 50vh;
   }

   .close{
    display: block;
   }

   .abovebar{
    flex-direction: column;
    gap: 23px;
    align-items: center;
   }
   .songinfo, .songtime{
    width: auto;
   }

   .timevol{
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 13px;
   }
}


@media (max-width : 500px) {
   .card{
    width: auto;
   }
}
